.cardJobs {}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--text-brand);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
    @media(max-width: 576px) {
        .fixed .bg-white {
            margin-top: 100px;
        }
    }
    @media(max-width: 400px) {
        .cancel {
            margin-left: 0 !important;
            margin-top: 20px !important;
        }
    }
    